*{
    box-sizing:border-box ;
    margin:0;
    padding:0;
}
body{
    font-family:verdana;
    display: flex;
    justify-content: center;
}

/*Container and Title*/
.game-box{
 background-color: rgb(172, 119, 127);
 padding: 30px;
}
#title{
    font-size: 30pt;
    text-align: center;
    color: beige;
}

/*Buttons, come back to this */
.buttons{
    display: flex;
    justify-content: space-around;
}
#start{
    background-color: beige;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 20px;
}
#start:hover{
    cursor: pointer;
    background-color: white;
}
#reset{
    background-color: beige;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 20px;
}
#reset:hover{
    cursor: pointer;
    background-color: white;
}

/* Grid Background */
.game-area{
    background-color:rgb(150, 103, 110);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 10px;
}
.grid-box{
    background-color: rgb(172, 119, 127);
    height: 160px;
    width: 160px;
    
}